  html {
    scroll-behavior: smooth;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
  }

  .logo {
    background-image: url("./assets/svg/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    transition: 0.7s;
  }

  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    cursor: pointer;
  }
  
  .nav {
    margin-left: auto;
    padding-right: 60px;
  }
  
  .nav-li {
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    transition: 0.7s;
  }
  
  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.7s;
  }

  .nav-link.active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
  
  .nav-li:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    min-height: 280px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

  .play {
    background-image: url("./assets/svg/play.svg");
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    transition: 0.7s;
    border: none;
    padding: 0;
  }

  .play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    cursor: pointer;
    /* animation: pulsing 2s infinite; */
    animation: loader-1 1.5s infinite linear;
    transform: translateZ(0);
  }

  @keyframes loader-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 /* @keyframes pulsing {
   0% {
   transform: scale(0.8, 0.8)
   }
   50% {
    transform: scale(1.0, 1.0);
   }
   100% {
    transform: scale(0.8, 0.8);
   }
  } */

  .play.pause {
    background-image: url("./assets/svg/pause.svg");
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background: #000000;
  }
  
  .footer-box {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;
    padding-left: 20px;
    color: #ffffff;
  }
  
  .footer-text-link {
    text-decoration: none;
    transition: 0.7s;
  }
  
  .footer-text-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    cursor: pointer;
  }

  .footer-link {
   font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    margin-left: 60px;
    text-align: justify;
    text-decoration: none;
    color: #ffffff;
  }

  .icon {
    height: 50px;
    transition: 0.7s;
    fill: #ffffff;
} 

  .icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    cursor: pointer;
  }